<h3>Имя: <%= @user_form.first_name %></h3>
<h3>Фамилия: <%= @user_form.last_name %></h3>
<%= link_to 'Удалить', user_form_path(@user_form), method: :delete, data: { confirm: 'Вы уверены?'}, :class => 'btn btn-danger' %> 